@charset "utf-8";
/*公共定义*/
BODY{PADDING-BOTTOM:0px;MARGIN:0px;PADDING-LEFT:0px;PADDING-RIGHT:0px;WORD-WRAP:break-word;PADDING-TOP:0px}H1,H2,H3,H4,H5,H6,HR,P,DL,DT,DD,UL,OL,LI,PRE,FORM,FIELDSET,LEGEND,BUTTON,INPUT,TEXTAREA,TH,TD{PADDING-BOTTOM:0px;MARGIN:0px;PADDING-LEFT:0px;PADDING-RIGHT:0px;WORD-WRAP:break-word;PADDING-TOP:0px}UL,OL,LI{LIST-STYLE-TYPE:none}H1,H2,H3,H4,H5,H6{FONT-SIZE:100%}TABLE{BORDER-SPACING:0;BORDER-COLLAPSE:collapse}IMG{BORDER-BOTTOM-STYLE:none;BORDER-RIGHT-STYLE:none;BORDER-TOP-STYLE:none;BORDER-LEFT-STYLE:none}PRE{WORD-WRAP:break-word}H1{FONT-SIZE:34px}H2{FONT-SIZE:26px}H3{FONT-SIZE:18px}H4{FONT-SIZE:16px}H5{FONT-SIZE:14px}H6{FONT-SIZE:12px}INPUT{VERTICAL-ALIGN:middle}LABEL{VERTICAL-ALIGN:middle}IMG{VERTICAL-ALIGN:middle}TH{VERTICAL-ALIGN:middle}INPUT{VERTICAL-ALIGN:middle}TEXTAREA{VERTICAL-ALIGN:middle}.w1{width:1px;}.w2{width:2px;}.w3{width:3px;}.w4{width:4px;}.w5{width:5px;}.w6{width:6px;}.w7{width:7px;}.w8{width:8px;}.w9{width:9px;}.w10{width:10px;}.w20{width:20px;}.w30{width:30px;}.w40{width:40px;}.w50{width:50px;}.w60{width:60px;}.w70{width:70px;}.w80{width:80px;}.w90{width:90px;}.w100{width:100px;}.w110{width:110px;}.w120{width:120px;}.w130{width:130px;}.w140{width:140px;}.w150{width:150px;}.w160{width:160px;}.w170{width:170px;}.w180{width:180px;}.w190{width:190px;}.w200{width:200px;}.w210{width:210px;}.w220{width:220px;}.w230{width:230px;}.w240{width:240px;}.w250{width:250px;}.w260{width:260px;}.w270{width:270px;}.w280{width:280px;}.w290{width:290px;}.w300{width:300px;}.w310{width:310px;}.w320{width:320px;}.w330{width:330px;}.w340{width:340px;}.w350{width:350px;}.w360{width:360px;}.w370{width:370px;}.w380{width:380px;}.w390{width:390px;}.w400{width:400px;}.w410{width:410px;}.w420{width:420px;}.w430{width:430px;}.w440{width:440px;}.w450{width:450px;}.w460{width:460px;}.w470{width:470px;}.w480{width:480px;}.w490{width:490px;}.w500{width:500px;}.w510{width:510px;}.w520{width:520px;}.w530{width:530px;}.w540{width:540px;}.w550{width:550px;}.w560{width:560px;}.w570{width:570px;}.w580{width:580px;}.w590{width:590px;}.w600{width:600px;}.w610{width:610px;}.w620{width:620px;}.w630{width:630px;}.w640{width:640px;}.w650{width:650px;}.w660{width:660px;}.w670{width:670px;}.w680{width:680px;}.w690{width:690px;}.w700{width:700px;}.w710{width:710px;}.w720{width:720px;}.w730{width:730px;}.w740{width:740px;}.w750{width:750px;}.w760{width:760px;}.w770{width:770px;}.w780{width:780px;}.w790{width:790px;}.w800{width:800px;}.h10{height:10px;}.h20{height:20px;}.h30{height:30px;}.h40{height:40px;}.h50{height:50px;}.h60{height:60px;}.h70{height:70px;}.h80{height:80px;}.h90{height:90px;}.h100{height:100px;}.h110{height:110px;}.h120{height:120px;}.h130{height:130px;}.h140{height:140px;}.h150{height:150px;}.h160{height:160px;}.h170{height:170px;}.h180{height:180px;}.h190{height:190px;}.h200{height:200px;}.h210{height:210px;}.h220{height:220px;}.h230{height:230px;}.h240{height:240px;}.h250{height:250px;}.h260{height:260px;}.h270{height:270px;}.h280{height:280px;}.h290{height:290px;}.h300{height:300px;}.h310{height:310px;}.h320{height:320px;}.h330{height:330px;}.h340{height:340px;}.h350{height:350px;}.h360{height:360px;}.h370{height:370px;}.h380{height:380px;}.h390{height:390px;}.h400{height:400px;}.h410{height:410px;}.h420{height:420px;}.h430{height:430px;}.h440{height:440px;}.h450{height:450px;}.h460{height:460px;}.h470{height:470px;}.h480{height:480px;}.h490{height:490px;}.h500{height:500px;}.h510{height:510px;}.h520{height:520px;}.h530{height:530px;}.h540{height:540px;}.h550{height:550px;}.h560{height:560px;}.h570{height:570px;}.h580{height:580px;}.h590{height:590px;}.h600{height:600px;}.h610{height:610px;}.h620{height:620px;}.h630{height:630px;}.h640{height:640px;}.h650{height:650px;}.h660{height:660px;}.h670{height:670px;}.h680{height:680px;}.h690{height:690px;}.h700{height:700px;}.h710{height:710px;}.h720{height:720px;}.h730{height:730px;}.h740{height:740px;}.h750{height:750px;}.h760{height:760px;}.h770{height:770px;}.h780{height:780px;}.h790{height:790px;}.h800{height:800px;}.clear{CLEAR:both}

/*基础定义*/
BODY {
	FONT: 12px/1.5 Arial, Helvetica, sans-serif; COLOR: #333
}
HTML {
	FONT: 12px/1.5 Arial, Helvetica, sans-serif; 
}
INPUT {
	FONT: 12px/1.5 Arial, Helvetica, sans-serif; 
}
A {
	COLOR: #333; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
/*框架内部间隔*/
#contain {
	TEXT-ALIGN: left; PADDING-BOTTOM: 5px; MARGIN: 0px auto; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 8px
}

/*框架标示菜单*/
.admin_title {
	LINE-HEIGHT: 32px; HEIGHT: 45px; COLOR: #000; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
.admin_title A {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 26px; MARGIN-TOP: 7px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; font-size:12px; margin-left:8px; BACKGROUND: #f7f7fa; FLOAT: left; HEIGHT: 26px; BORDER-TOP: #ddd 1px solid; CURSOR: pointer; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 0px
}
.admin_title DIV.on {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 32px; MARGIN-TOP: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #fff; FLOAT: left; HEIGHT: 32px; COLOR: #333; PADDING-TOP: 0px
}
.admin_title A.history {
	FLOAT: right;
}
.admin_title A:hover {
	BACKGROUND: #3071bf; color:#FFF; border:1px solid #3071bf; text-decoration:none;
}
/*列表风格*/
.admin_list {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.admin_list table th {
	BORDER-BOTTOM: #dbe1e6 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #dbe1e6 0px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 26px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #f7f7fa; HEIGHT: 26px; COLOR: #333; FONT-SIZE: 12px; BORDER-TOP: #dbe1e6 1px solid; FONT-WEIGHT: normal; BORDER-RIGHT: #dbe1e6 0px solid; PADDING-TOP: 0px
}
.admin_list table td {
	BORDER-BOTTOM: #e3e6eb 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 36px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; HEIGHT: 36px; PADDING-TOP: 0px
}
.admin_list tr.over td {
	BACKGROUND: #eee
}


/*添加编辑框结构*/
.from_box UL {
	POSITION: relative; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; BOTTOM: -1px; PADDING-RIGHT: 0px; HEIGHT: 30px; PADDING-TOP: 0px
}
.from_box UL LI {
	BORDER-BOTTOM: #dbe1e6 1px solid; BORDER-LEFT: #dbe1e6 1px solid; LINE-HEIGHT: 28px; FLOAT: left; HEIGHT: 28px; BORDER-TOP: #dbe1e6 1px solid; CURSOR: pointer; MARGIN-RIGHT: 5px; BORDER-RIGHT: #dbe1e6 1px solid
}
.from_box UL LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #f7f7fa; PADDING-TOP: 0px
}
.from_box UL LI.hover {
	POSITION: relative; BACKGROUND: #fff; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 29px; FONT-WEIGHT: 700; _height: 29px
}
.from_box .admin_from {
	BORDER-BOTTOM: #dbe1e6 1px solid; BORDER-LEFT: #dbe1e6 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-TOP: #dbe1e6 1px solid; BORDER-RIGHT: #dbe1e6 1px solid; PADDING-TOP: 5px
}
.admin_from TABLE TH {
	BORDER-BOTTOM: #fff 1px solid; TEXT-ALIGN: right; PADDING-BOTTOM: 7px; LINE-HEIGHT: 20px; PADDING-LEFT: 10px; WIDTH: 120px; PADDING-RIGHT: 10px; BACKGROUND: #f7f7fa; HEIGHT: 20px; COLOR: #222; FONT-SIZE: 12px; FONT-WEIGHT: normal; PADDING-TOP: 7px
}
.admin_from TABLE TD {
	BORDER-BOTTOM: #fff 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #666; PADDING-TOP: 4px
}



/*表单美化*/
SELECT {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #999 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND: #fff 0px 0px; COLOR: #333; VERTICAL-ALIGN: middle; BORDER-TOP: #999 1px solid; BORDER-RIGHT: #ccc 1px solid; margin-right:3px; PADDING-TOP: 3px
}
.textarea {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #999 1px solid; PADDING-BOTTOM: 2px; LINE-HEIGHT: 18px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-FAMILY: "sans serif", tahoma, verdana, helvetica; BACKGROUND: #fff repeat-x; COLOR: #444; FONT-SIZE: 12px; BORDER-TOP: #999 1px solid; BORDER-RIGHT: #ccc 1px solid; margin-right:3px; PADDING-TOP: 4px
}
.input {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #999 1px solid; PADDING-BOTTOM: 2px; LINE-HEIGHT: 20px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px;DISPLAY: inline-block; FONT-FAMILY: "sans serif", tahoma, verdana, helvetica; BACKGROUND: #ffffff; HEIGHT: 20px; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; BORDER-TOP: #999 1px solid; BORDER-RIGHT: #ccc 1px solid; margin-right:3px; PADDING-TOP: 2px
}
.input_ruler {
	BACKGROUND: url(ruler.gif) repeat-x 0px 11px
}
.input_date {
	PADDING-RIGHT: 23px; BACKGROUND: url(input_date.png) no-repeat 160px 4px
}
.input_file {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 26px; MARGIN: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 0px; BACKGROUND: #fff; HEIGHT: 26px; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid; PADDING-TOP: 0px
}



/*按键风格*/
#search_div {
	BORDER-BOTTOM: #dbe1e6 1px solid; BORDER-LEFT: #dbe1e6 1px solid; PADDING-BOTTOM: 8px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; MARGIN-BOTTOM: 10px; BACKGROUND: #f7f7fa; BORDER-TOP: #dbe1e6 1px solid; BORDER-RIGHT: #dbe1e6 1px solid; PADDING-TOP: 8px
}
.btn {TEXT-ALIGN: center; PADDING-BOTTOM: 6px; LINE-HEIGHT: 20px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; MARGIN-TOP: 10px; BACKGROUND: #f6f6f6; PADDING-TOP: 6px}
.button {BORDER-BOTTOM: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid;BORDER-TOP: #bbb 1px solid; CURSOR: pointer; margin:0px; BORDER-RIGHT: #bbb 1px solid;VERTICAL-ALIGN: middle; BACKGROUND: url(tbg.png) #f7f7f7 repeat-x left 0px;}
.button:hover{BACKGROUND: url(tbg.png) #f7f7f7 repeat-x left bottom; COLOR: #1652a3}
.btn .button{font-weight:bold; margin-right:5px; padding:0px; padding-left:15px; padding-right:15px; height:32px; line-height:32px; font-size:16px; color:#000}

/*分页风格*/
DIV.pages { TEXT-ALIGN: left; PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial; COLOR: #295ca2; FONT-SIZE: 14px; PADDING-TOP: 10px
}
DIV.pages A {
	BORDER-BOTTOM: #dadada 1px solid; BORDER-LEFT: #dadada 1px solid; PADDING-BOTTOM: 2px; MARGIN: 0px 2px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; COLOR: #295ca2; BORDER-TOP: #dadada 1px solid; BORDER-RIGHT: #dadada 1px solid; TEXT-DECORATION: none; PADDING-TOP: 2px
}
DIV.pages A:hover {
	BORDER-BOTTOM: #ff5a00 1px solid; BORDER-LEFT: #ff5a00 1px solid; COLOR: #ff5a00; BORDER-TOP: #ff5a00 1px solid; BORDER-RIGHT: #ff5a00 1px solid
}
DIV.pages SPAN.current {
	BORDER-BOTTOM: #ff6c16 1px solid; BORDER-LEFT: #ff6c16 1px solid; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #ffca00; MARGIN: 0px 2px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; COLOR: #fff; BORDER-TOP: #ff6c16 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #ff6c16 1px solid; PADDING-TOP: 2px
}